header {
  background-color: $header-bg;
  color: $header-fg;
  border-bottom: 12px solid $logo-green;

  min-height: 480px;
  margin-top: -20px;

  // "My name is Ryan Gaus" and friends
  .text {
    @include make-xs-column(12);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    text-align: center;

    h1 {
      font-family: 'Josefin Slab', sans-serif;
      font-size: 2.4em;
      padding-top: 2em;
      margin-bottom: 0.5em;

      & > span {
        font-weight: 600;
        white-space: nowrap;
      }
    }
    p {
      font-weight: 300;
      font-size: 1.8em;

      // bits that should always wrap together
      span { white-space: nowrap; }
    }
  }

  // Imaages that represent me
  .images {
    @include make-xs-column(12);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    margin-top: 3em;

    li {
      @include make-xs-column(4);
      list-style-type: none;
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;

      img {
        max-width: 72px;
        display: inline-block;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    // on desktops, make the three images bigger
    .images li img {
      max-width: 96px;
    }
  }

  @media (min-width: $screen-md-min) {
    .text {
      h1 {
        font-size: 3.2em;
      }
      p {
        font-size: 2.2em;
      }
    }

    // on desktops, make the three images bigger
    .images li img {
      max-width: 150px;
    }
  }

  // the hero button on the left side
  .btn {
    width: 256px;
    font-size: 1.5em;
    line-height: 2;
  }
}

// The text below the header.
.header-description {
  @extend .container;
  margin-top: 4.8rem;
  margin-bottom: 2.8rem;

  font-size: 2.2em;
  color: $gray-light;
  font-weight: 300;
  text-align: center;
}
