header {
  background-color: $header-bg;
  color: $header-fg;
  border-bottom: 12px solid $logo-green;

  min-height: 480px;
  margin-top: -20px;

  .wrapper {
    @extend .container;
  }

  // "My name is Ryan Gaus" and friends
  .text {
    @include make-xs-column(12);
    @include make-md-column(8);
    @include make-md-column-offset(2);
    text-align: center;

    h1 {
      font-family: 'Josefin Slab', sans-serif;
      font-size: 4.2em;
      padding-top: 2em;
      margin-bottom: 0.5em;

      & > span {
        font-weight: 600;
        white-space: nowrap;
      }
    }
    p {
      font-weight: 300;
      font-size: 2.4em;

      // bits that should always wrap together
      span { white-space: nowrap; }
    }
  }

  // Imaages that represent me
  .images {
    @include image-list;
    margin-top: 3em;
  }

  // the hero button on the left side
  .btn {
    width: 256px;
    font-size: 1.5em;
    line-height: 2;
  }
}

// The text below the header.
.header-description {
  @extend .container;
  margin-top: 4.8rem;
  margin-bottom: 2.8rem;

  font-size: 2.2em;
  color: $gray-light;
  font-weight: 300;
  text-align: center;
}

@media print {
  header {
    margin-top: 1rem;
    border-bottom-width: 0px;
    @include make-xs-column(6);

    .wrapper {
      width: 100%;
    }

    .text {
      padding-left: 0px;
      h1 {
        font-size: 2.4em;
        margin-top: 0px;
        padding-top: 0px;
        text-align: left;
      }
      p {
        font-size: 1.2em;
        text-align: left;
      }
    }
    .images {
      display: none;
    }
  }

  .header-description {
    display: none;
  }
}
