header {
  background-color: $header-bg;
  color: $header-fg;
  border-bottom: 12px solid $logo-green;

  min-height: 480px;
  margin-top: -20px;

  // "My name is Ryan Gaus" and friends
  .text {
    @include make-xs-column(12);
    @include make-md-column(7);

    h1 {
      font-family: 'Josefin Slab', sans-serif;
      font-size: 3.2em;
      padding-top: 2em;
      margin-bottom: 0.5em;

      & > span { font-weight: 600; }
    }
    p {
      font-weight: 300;
      font-size: 2.2em;
    }
  }

  // Picture of me!
  .image {
    @include make-xs-column(12);
    @include make-md-column(5);
    height: 400px;

    background-image: url(/img/me.png);
    background-repeat: no-repeat;
    background-position: center;

    // on desktops, move the image to the right
    @media (min-width: $screen-md-min) {
      background-position: right center;
    }
  }

  // the hero button on the left side
  .btn {
    width: 256px;
    font-size: 1.5em;
    line-height: 2;
  }
}

// The text below the header.
.header-description {
  @extend .container;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;

  font-size: 1.5em;
  color: $gray-light;
  font-weight: 300;
  text-align: center;
}
