// A generic way to display a three image list on a page.
// Within the parent (which @includes this mixin), there should be a bunch of
// <li>s that contain <img/>s. Those <img/>s can optionally be surrounded in
// <a>s so they're clickable.
@mixin image-list {
  @include make-xs-column(12);
  @include make-md-column(8);
  @include make-md-column-offset(2);
  @include make-lg-column(6);
  @include make-lg-column-offset(3);

  li {
    @include make-xs-column(4);
    list-style-type: none;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;

    img {
      max-width: 128px;
      width: 100%;
      display: inline-block;
    }
  }

  @media (min-width: $screen-sm-min) {
    // on desktops, make the three images bigger
    .images li img {
      max-width: 96px;
    }
  }

  @media (min-width: $screen-md-min) {
    .text {
      h1 {
        font-size: 3.2em;
      }
      p {
        font-size: 2.2em;
      }
    }

    // on desktops, make the three images bigger
    .images li img {
      max-width: 256px;
    }
  }
}
