@mixin company($brand-color: transparent, $second-color: #FFF) {
  display: flex;
  flex-direction: column;

  padding: 2em;
  margin: 2.1em 0em;
  border-radius: $border-radius-large;
  min-height: 200px;

  color: $second-color;
  background: $brand-color;

  // The element that is being "taken over" by the styles can be (and is in some
  // cases) a link. The below removes the underline and color of the default
  // link styles.
  &, &:hover, &:active, &:focus {
    color: $second-color;
    text-decoration: none;
  }

  // If clicking does something (ie, it's a link), add an animation on "press".
  &[href]:active {
    transform: scale(0.99);
  }

  .image {
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 1em;

    img {
      width: 120px;
      display: inline-block;
      margin-bottom: auto;
      padding-bottom: 1em;
    }
  }

  .description {
    padding-left: 10px;

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      margin-top: 0.2em;
      small {
        color: $second-color;
        font-weight: 100;
      }
    }

    a {
      color: $logo-green;
    }

    // The main body
    ul {
      padding-left: 0px;
      padding-left: 1em;
      padding-top: 0.5em;
      font-weight: 100;
      font-size: 1.2em;
      padding-right: 1em;

      li {
        margin-bottom: 0.6em;
        margin-left: -0.8em;
      }
    }
    p {
      padding-left: 0px;
      font-weight: 100;
      font-size: 1.2em;
    }
  }

  .date-range {
    font-size: 1.1em;
    font-weight: 100;
  }

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    .image {
      width: 150px;
      display: inline-table;
      margin-bottom: 0em;
    }
  }

}

.worked-with-group {
  margin-top: 4em;
  padding-top: 4em;

  .company-density {
    // (density "primary" color below)
    @include company(#4198FF, #FFFFFF);
  }
  .company-lono {
    @include company($logo-green, #FFFFFF);
  }
  .company-mcon {
    @include company(#FFFFFF, $text-color);
  }
  .company-freelancer {
    @include company(#FFFFFF, $text-color);
  }
}
