// My website
// by Ryan Gaus
// 
// Not Ryan Gaus? Go away, this is my code! Well, unless I told you to take a
// look at this, then I guess you're cool...


// Google web fonts and bootstrap
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600');
@import "bootstrap";

// Colors
$logo-green: #71C837;
$logo-blue: #46B5D0;

$header-bg: $logo-blue;
$header-fg: #FFF;

@import "header";
@import "social-badges";

.btn-oval {
  @include button-variant(#FFF, transparent, #FFF);
  border: 2px solid #FFF;
  border-radius: $border-radius-large;
  transition: all 100ms ease-in-out;

  &:hover {
    @include button-variant($logo-blue, #FFF, #FFF);
  }
}

// Header sections for each group. Only apply these if we are of @media screen
// though. Basically, these correctly place the title in the page flow.
@media screen {
  .logo {
    @include make-md-column(4);
    @include make-md-column-offset(4);
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
  }
}

// a bulleted list that has colored bullets
@mixin bullet-list($bullet: 2em, $font: 100%) {
  li {
    padding: 0px;
    list-style-type: none;
    line-height: 1.7em;
    font-size: $font;
    &:before {
      content: "• ";
      color: $logo-green;
      font-size: $bullet;
      vertical-align: middle;
    }

    @media print {
      padding-left: 2.5em;
    }
  }
}

// make links green
a {
  color: $logo-green;
  &:active, &:hover, &:focus {
    color: darken($logo-green, 5%);
  }
}

// On phones/other small things, flatten the ribbon's "curls" on the end.
.ribbon {
  font-size: 1.4em !important;
  text-align: center;

  width: 100%;
  margin: 0px auto;

  background: $logo-green;
  padding: 1em 2em;

  .ribbon-content {
    color: #FFF;
  }
}

// The ribbon, for reals this time
@media (min-width: $screen-md) {
  .ribbon {
    font-size: 24px !important;

    width: 800px;
    margin: 0px auto;

    position: relative;
    background: $logo-green;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em;

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid darken($logo-green, 6%);
      z-index: -1;
    }

    &:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
    }

    &:after {
      right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent;
    }
  }
  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: darken($logo-green, 10%) transparent transparent transparent;
    bottom: -1em;
  }
  .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
  }
  .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
  }
}

// Printing Styles
// We'll scale back the page to be just textual.
$print-font-base: 14px;
@media print {
  img { display: none !important;  }
  a[href]:after { content: none; }

  // get rid of execc spacing in the start of each section
  div.section { margin-top: 0px;  }

  // align headers left
  div.section.projects div.body, div.section div.header {
    h1, h2, h3 {
      text-align: left;
      margin-left: 30px;
      margin-bottom: 6px;
      font-size: $print-font-base * 1.4;
    }
  }

  // get rid of social media div
  div.social ul { display: none;  }
  div.social-print ul {
    display: block !important;
    list-style-type: none;
    margin-top: 10px;

    li {
      display: inline;
      padding: 10px;
    }
  }

  // "Languages I use" - align left and apply margin (and hide progressbars)
  div.skills .skill-list ul {
    margin-top: 0px;
    li {
      display: inline-block;
      .name {
        font-size: $print-font-base;
        margin-left: 30px;
        text-align: left;
      }
      .progress { display: none;  }
    }
  }

  // fix ribbon padding whch would keep them from matching other headers
  .ribbon { padding: 0px; }
  div.header.hide-me { display: none;  } // hide "My Resume" header

  // Spread out "My Name is Ryan Gaus"
  div.one .row.subtitle div.inner {
    margin-left: 0px;
    width: auto;
  }

  // Education List - decrease font size
  .edu-list, .edu-list ul ul {
    font-size: $print-font-base;
    margin-left: 30px;
    margin-bottom: 14px;
  }

  // For each item in my "work list", scale it down and make it more
  // printer-friendly.
  .work-list ul {
    margin-top: 0px;
    padding-bottom: 30px;
    li {
      .name {
        font-size: $print-font-base*1.25;
        text-align: left;
        margin-left: 30px;

        .date {
          font-size: $print-font-base;
        }
      }
      .desc {
        margin-left: 30px;
        font-size: $print-font-base;
      }
    }
  }

  // For each project I have listed
  div.section.projects div.body {
    padding: 0px !important;
    padding-bottom: 30px !important;
    margin: 0px !important;
  }
}
