// My website
// by Ryan Gaus
// 
// Not Ryan Gaus? Go away, this is my code! Well, unless I told you to take a
// look at this, then I guess you're cool...


// Google web fonts and bootstrap
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600');
@import "bootstrap";

// Colors
$logo-green: #71C837;
$logo-blue: #46B5D0;

$candycrowd-accent: #E16868;
$ikeaify-accent: #36A4BF;
$cena-accent: #BF7F36;
$que-accent: #FF8CA3;
$waltz-accent: $logo-green;

$header-bg: $logo-blue;
$header-fg: #FFF;

$colored-cards-image-size: 64px;
$colored-cards-image-padding: 54px;

@import "header";
@import "social-badges";
@import "colored-cards";
@import "worked-with";
@import "footer";

@import "ribbon";

.btn-oval {
  @include button-variant(#FFF, transparent, #FFF);
  border: 2px solid #FFF;
  border-radius: $border-radius-large;
  transition: all 100ms ease-in-out;

  &:hover {
    @include button-variant($logo-blue, #FFF, #FFF);
  }
}

// make links green
a {
  color: $logo-green;
  &:active, &:hover, &:focus {
    color: darken($logo-green, 5%);
  }
}

// Printing Styles
// We'll scale back the page to be just textual.
$print-font-base: 14px;
@media print {
  img { display: none !important;  }
  a[href]:after { content: none; }

  // get rid of execc spacing in the start of each section
  div.section { margin-top: 0px;  }

  // align headers left
  div.section.projects div.body, div.section div.header {
    h1, h2, h3 {
      text-align: left;
      margin-left: 30px;
      margin-bottom: 6px;
      font-size: $print-font-base * 1.4;
    }
  }

  // get rid of social media div
  div.social ul { display: none;  }
  div.social-print ul {
    display: block !important;
    list-style-type: none;
    margin-top: 10px;

    li {
      display: inline;
      padding: 10px;
    }
  }

  // "Languages I use" - align left and apply margin (and hide progressbars)
  div.skills .skill-list ul {
    margin-top: 0px;
    li {
      display: inline-block;
      .name {
        font-size: $print-font-base;
        margin-left: 30px;
        text-align: left;
      }
      .progress { display: none;  }
    }
  }

  // fix ribbon padding whch would keep them from matching other headers
  .ribbon { padding: 0px; }
  div.header.hide-me { display: none;  } // hide "My Resume" header

  // Spread out "My Name is Ryan Gaus"
  div.one .row.subtitle div.inner {
    margin-left: 0px;
    width: auto;
  }

  // Education List - decrease font size
  .edu-list, .edu-list ul ul {
    font-size: $print-font-base;
    margin-left: 30px;
    margin-bottom: 14px;
  }

  // For each item in my "work list", scale it down and make it more
  // printer-friendly.
  .work-list ul {
    margin-top: 0px;
    padding-bottom: 30px;
    li {
      .name {
        font-size: $print-font-base*1.25;
        text-align: left;
        margin-left: 30px;

        .date {
          font-size: $print-font-base;
        }
      }
      .desc {
        margin-left: 30px;
        font-size: $print-font-base;
      }
    }
  }

  // For each project I have listed
  div.section.projects div.body {
    padding: 0px !important;
    padding-bottom: 30px !important;
    margin: 0px !important;
  }
}
