// My website
// by Ryan Gaus
// 
// Not Ryan Gaus? Go away, this is my code! Well, unless I told you to take a
// look at this, then I guess you're cool...


// Google web fonts and bootstrap
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600');
@import "bootstrap";

// Colors
$logo-green: #71C837;
$logo-blue: #46B5D0;

$header-bg: $logo-blue;
$header-fg: #FFF;

@import "header";
@import "social-badges";

.btn-oval {
  @include button-variant(#FFF, transparent, #FFF);
  border: 2px solid #FFF;
  border-radius: $border-radius-large;
  transition: all 100ms ease-in-out;

  &:hover {
    @include button-variant($logo-blue, #FFF, #FFF);
  }
}

// Header sections for each group. Only apply these if we are of @media screen
// though. Basically, these correctly place the title in the page flow.
@media screen {
  .logo {
    @include make-md-column(4);
    @include make-md-column-offset(4);
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
  }
}

// a bulleted list that has colored bullets
@mixin bullet-list($bullet: 2em, $font: 100%) {
  li {
    padding: 0px;
    list-style-type: none;
    line-height: 1.7em;
    font-size: $font;
    &:before {
      content: "• ";
      color: $logo-green;
      font-size: $bullet;
      vertical-align: middle;
    }

    @media print {
      padding-left: 2.5em;
    }
  }
}

// make links green
a {
  color: $logo-green;
  &:active, &:hover, &:focus {
    color: darken($logo-green, 5%);
  }
}

// About page
// this is the section with my big "My Name is Ryan Gaus" text and social media
// stuff. Also, my nice picture is in here!
div.one {
  @extend .container-fluid;
  height: 100%;

  // image row
  .row.hero .logo img {
    width: 100%;
    max-width: 228px;
    
    margin: 40px auto 0px auto;
    display: block;
  }

  .row.subtitle {
    div.inner {
      // sm: 3 6 3
      @include make-sm-column(6);
      @include make-sm-column-offset(3);

      // md: 3 6 3
      @include make-md-column(6);
      @include make-md-column-offset(3);

      margin-top: 20px;

      // My social media icons.
      // These are under the description.
      div.social {
        padding: 2em 1em 0.2em 1em;

        ul {
          list-style-type: none;
          padding: 0em;
          li {
            display: inline;
            img {
              width: 36px;
            }
            @media (min-width: $screen-md) {
              img {
                width: 64px;
              }
            }
          }
        }
      }
      div.social-print ul { display: none; }

      // "My Name is Ryan Gaus"
      h1 {
        font-size: 2.4em;
        letter-spacing: 0.05em;
        font-weight: normal;
        text-align: center;
        margin-bottom: 40px;
      }

      // The about me description blurb
      h2 {
        margin-top: -12px;
        font-size: 1.4em;
        color: $gray-light;
        line-height: $line-height-base * 0.95;
        text-align: center;

        // emoji images
        img.emoji {
          height: $font-size-base * 1;
          @extend .visible-print-inline-block;
          display: inline-block !important;
        }
      }

      // responsive crap to make everything look good on every layout.
      @media (min-width: $screen-md) {
        h1 {
          font-size: 3.2em;
        }
        h2 {
          font-size: 1.8em;

          // emoji images
          img.emoji { height: $font-size-base * 2.2; }
          }
      }
    }
  }
}

// a container
div.section {
  @extend .container-fluid;
  margin-top: 7.5%;
  padding: 0px;

  // pane header
  div.header {
    height: $font-size-h1 * 1.8;
    padding: 12px 0px;

    // for the ribbon
    position: relative;
    z-index: 1;

    h1 {
      text-align: center;
      color: #FFF;
      margin-top: -36px;
    }

  }
}

// generate the markup for a project
$tile-width-md: 45%;
@mixin project($color: #aaa) {
  padding-top: 3.2em;
  padding-bottom: 2em;
  background-color: $color;

  // properly size each block
  @include make-xs-column(12);
  @media (min-width: $screen-md) {
    width: $tile-width-md;
  }

  // the inner container of each of the projects on the timeline
  .timeline-card {
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-xs-column(12);
  }

  h1 {
    text-align: center;
    margin-top: -12px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: $font-size-base * 1.8;
    color: #fff;
    small a {
      font-size: $font-size-base * 1.2;
      text-align: center;
    }
  }

  h2 {
    color: $gray-light;
    text-align: center;
    margin-top: -0.4em;
    font-size: 2.4em;
    color: #fff;
    small a {
      font-size: $font-size-base * 1.2;
      text-align: center;
    }
  }

  p {
    color: #fff;
    font-size: 1.3em;
  }

  img {
    height: 100px;
    margin: 0em auto 2em auto;
    display: block;
  }

  @media (min-width: $screen-md) {
    h1 {
      font-size: 8em;
    }
    h2 {
      font-size: 2.1em;
    }
    h2 small a  {
      font-size: 1.8em;
    }
  }
}

// My Projects
// All of the projects I'm proud of. At least the recent ones that I've made public.
div.section.projects {
  position: relative;
  @include container-fixed;

  // the timeline should only be a container, unless we're in xs then make it
  // full width.
  width: 100%;
  &.timeline {
    @media (min-width: $screen-md) {
      @media (min-width: $screen-sm-min) { width: $container-sm; }
      @media (min-width: $screen-md-min) { width: $container-md; }
      @media (min-width: $screen-lg-min) { width: $container-lg; }
    }
  }

  // hide timeline bulb on mobile (no timeline in the first place)
  .timeline-bulb { display: none; }

  // align projects and achevements to left or right
  @media (min-width: $screen-md-min) {
    &.timeline .body {
      @include clearfix;
      float: left;
      margin-top: 64px;

      &.right { float: right; }
    }
    &.timeline {
      // make the "line" down the center of the timeline
      &::before {
        content: ".";
        color: transparent;

        display: block;
        width: 10px;
        height: 110%;
        background: $logo-green;

        position: absolute;
        left: 50%;
        margin-left: -5px;
      }
    }

    // the "RG" logo at the bottom of the timeline that is outlined
    .timeline-bulb {
      position: absolute;
      bottom: -150px;
      left: 50%;
      background: $body-bg;
      border: 5px solid $logo-green;
      color: #fff;
      width: 128px;
      height: 100px;
      font-size: 2 * $font-size-base;
      text-align: center;
      padding: 20px;
      margin-left: -64px;
      display: block;

      img {
        width: 72px;
      }
    }
  }

  // make links within the project timeline white
  &.timeline a {
    color: #FFF;
    font-weight: bold;
  }

  // center align all headers
  .body {
    h1 {
      text-align: center;
    }
  }

  // ==========
  // projects
  // ==========

  // Ikeaify
  .ikeaify {
    @include project;

    @media print {
      p {
        font-size: $font-size-base;
      }
    }
  }

  // Waltz
  .waltz {
    @include project(#51c4c4);
    h2 { color: transparent; }

    @media print {
      p {
        font-size: $font-size-base;
      }
    }
  }

  // Sproutlines
  .sproutlines {
    @include project(#7BA804);

    @media print {
      p {
        font-size: $font-size-base;
      }
    }
  }

  // CandyCrowd
  .candycrowd {
    @include project(#2ab573);
    @media print {
      p {
        font-size: $font-size-base;
      }
    }
  }

  // I'm an eagle scout!
  .eagle {
    @include project(#DD636B);
    p { text-align: center; }
  }

  // Cena: The grocery list app v1
  .cena {
    @include project(#8DC54D);

    .logo img {
      width: 64px;
      display: block;
      margin: 0px auto 36px auto;
    }

    h2 {
      color: #FFF;
      line-height: 1.4em;
    }
  }

  // Que: My internet-of-things controller that I haven't worked on in a while.
  .que {
    @include project(#ff8ca3);

    h2 {
      color: #FFF;
      line-height: 1.4em;
    }
  }

  // Girl Scouts: The girl scout service unit's website.
  .gs, .nancysews {
    @include project(#C7863D);
    img {
      border: 2px solid $gray-lighter;
      height: auto;
      width: 100%;
    }
  }

  // Nancy Sews: My mommy's website!
  .nancysews { background-color: #6CD0BB; }
}

// Skills on my resume
div.skills {
  .logo {
    margin-top: 64px;
  }

  .logo:first-child {
    margin-top: 16px;
  }

  .skill-list > ul {
    padding-left: 0px;
    list-style-type: none;
    @include bullet-list;

    & > li {
      padding: 0.5em;
      margin: 0.2em;

      font-size: 2em;
      text-align: left;
      width: 100%;

      @media print {
        font-size: 1.5em;
        padding: 0em;
      }

      // more details
      .details {
        font-size: 0.6em;
        vertical-align: middle;
        color: $gray-light;
      }
    }
  }
}

// all my education-y stuff
// noteworthy classes, programs, and the such...
.edu-list {
  font-size: $font-size-base * 2;
  & > ul {
    list-style-type: none;
    padding-left: 0px;

    & > li { padding-bottom: 10px; }

    ul {
      list-style-type: none;
      padding-left: 0px;
      text-align: left;
      font-size: $font-size-base * 1.2;
    }
  }
}

// My Work experience
// Lono, Freelancer, Minecraft Open Network
.work-list {
  ul {
    padding-left: 0px;
    margin-top: 20px;

    li {
      list-style-type: none;
      padding: 12px 0px;

      // name of the job
      .name {
        font-size: 1.6em;
        padding-bottom: 10px;
        &.small {
          font-size: 1.2em;
          @media (min-width: $screen-sm) {
            font-size: 1.6em;
          }
        }

        .link {
          font-size: 0.6em;
        }

        .date {
          float: right;
          font-size: 0.6em;
          margin-top: 6px;
        }
      }

      .desc {
        font-size: 1.1em;
      }

      // a list of tasks that I have completed for a job
      .task-list { @include bullet-list; }

      @media (min-width: $screen-md) {
        .name { text-align: left; }
      }
    }
  }
}


// On phones/other small things, flatten the ribbon's "curls" on the end.
.ribbon {
  font-size: 1.4em !important;

  width: 100%;
  margin: 0px auto;

  background: $logo-green;
  padding: 1em 2em;
}

// The ribbon, for reals this time
@media (min-width: $screen-md) {
  .ribbon {
    font-size: 24px !important;

    width: 800px;
    margin: 0px auto;

    position: relative;
    background: $logo-green;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em;

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid darken($logo-green, 6%);
      z-index: -1;
    }

    &:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
    }

    &:after {
      right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent;
    }
  }
  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: darken($logo-green, 10%) transparent transparent transparent;
    bottom: -1em;
  }
  .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
  }
  .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
  }
}

// Printing Styles
// We'll scale back the page to be just textual.
$print-font-base: 14px;
@media print {
  img { display: none !important;  }
  a[href]:after { content: none; }

  // get rid of execc spacing in the start of each section
  div.section { margin-top: 0px;  }

  // align headers left
  div.section.projects div.body, div.section div.header {
    h1, h2, h3 {
      text-align: left;
      margin-left: 30px;
      margin-bottom: 6px;
      font-size: $print-font-base * 1.4;
    }
  }

  // get rid of social media div
  div.social ul { display: none;  }
  div.social-print ul {
    display: block !important;
    list-style-type: none;
    margin-top: 10px;

    li {
      display: inline;
      padding: 10px;
    }
  }

  // "Languages I use" - align left and apply margin (and hide progressbars)
  div.skills .skill-list ul {
    margin-top: 0px;
    li {
      display: inline-block;
      .name {
        font-size: $print-font-base;
        margin-left: 30px;
        text-align: left;
      }
      .progress { display: none;  }
    }
  }

  // fix ribbon padding whch would keep them from matching other headers
  .ribbon { padding: 0px; }
  div.header.hide-me { display: none;  } // hide "My Resume" header

  // Spread out "My Name is Ryan Gaus"
  div.one .row.subtitle div.inner {
    margin-left: 0px;
    width: auto;
  }

  // Education List - decrease font size
  .edu-list, .edu-list ul ul {
    font-size: $print-font-base;
    margin-left: 30px;
    margin-bottom: 14px;
  }

  // For each item in my "work list", scale it down and make it more
  // printer-friendly.
  .work-list ul {
    margin-top: 0px;
    padding-bottom: 30px;
    li {
      .name {
        font-size: $print-font-base*1.25;
        text-align: left;
        margin-left: 30px;

        .date {
          font-size: $print-font-base;
        }
      }
      .desc {
        margin-left: 30px;
        font-size: $print-font-base;
      }
    }
  }

  // For each project I have listed
  div.section.projects div.body {
    padding: 0px !important;
    padding-bottom: 30px !important;
    margin: 0px !important;
  }
}
